table {
    border: solid 1px black;
    border-collapse: collapse;
    text-align: center;
}
tr,td{
    font-family: 'Jua', sans-serif;
    border: solid 1px black;
}
#modal{
    display: none;
    width: 400px;
    height: 150px;
    padding: 30px;
    border-radius: 5px;
    border-style: outset;
    background-color: skyblue;
}

#btn{
    margin: 10px;
}

.Item_Table{
  border: solid 1px black;
  text-align: center;
  font-family: 'Jua', sans-serif;
  border-collapse: collapse;
  margin: 10px;
  display: inline-block;
}

.Item_Table td,tr{
  border: solid 1px black;
  border-collapse: separate;
  height: 30px;
  width: 110px;
}

input{
  text-align: center;
}
